
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title> jRate - JQuery Plugin | toolitup.com</title>
    <link href="~/Content/jstarbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jstarbox.js"></script>
</head>
<body>
    <h2>jstarbox Demo Page</h2>
    <div class="starbox"></div>
    <script type="text/javascript">
        $('.starbox').starbox({
            average: 0,
            autoUpdateAverage: true,
            ghosting: true
        });
    </script>
</body>
</html>
