
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title> jRate - JQuery Plugin | toolitup.com</title>
    <link rel="stylesheet" href="~/Content/jquery.raty.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.raty.js"></script>
</head>
<body>
    <h2>jstarbox Demo Page</h2>
    <div id="Test"></div>

    <script type="text/javascript">
        $('#Test').raty();
    </script>
</body>
</html>
